@model IEnumerable<Shop.ERP.Models.SALES_MASTER>
@{
    ViewData["Title"] = "Sales Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Find your @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Sales No</th>
                    <th>Sales Date</th>
                    <th>Customer</th>
                    <th>Note</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SALES_NO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TRN_DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CUSTOMER_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TRN_NOTE)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" asp-action="Create" asp-route-id="@item.ID"><i class="fa fa-edit"></i> Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>